.abouts{
    background-color: #f7444e;
    height: 100px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
}